.q1-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  background-image: url("../image/background.png");
  background-position: center;
}
@media(max-width: 1366px) {
  .q1-container {
    background-size: cover;
    background-position: center;
  }
}
@media(max-width: 1180px) {
  .q1-container {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
